<style>
    h1{
        margin: 10px;
        padding: 10px;
    }
    .btn btn-outline-dark{
        margin: 10 px;
        padding: 10px;
    }
</style>
<h1> This is the about us page</h1>

<button type="button" class="btn btn-outline-dark">Know more</button>